.channel-section {
    position: absolute;
		width: 20%; 
	 height: 80%;
	 background-color: #4D394B;
	color:white;
}

.channel-header {
	
}

.glyphicon-plus{
	color: white;
	font-size:25px;
}

.channel-list li{
	padding-top: 10px;
	font-size: 16px;
	
}

.glyphicon-plus:hover {
    background-color: rgba(0,0,0,0.3);
}

.channel-list li:hover {
    background-color: rgba(0,0,0,0.3);
	  width: 100%
}

.chat-section {
	position:relative;
	left: 25%;
	width: 75%;
 	height:80%;
	background-color: white;
	 border:1px solid lightgrey;
}

.channel-display{
	color: #555459;
	
}

.channel-display #welcome {
	padding-left: 25px;
	
}

.chat-wrapper {

	position:absolute;
	right: 0;
	bottom: 0;
	height: 85%;
	width: 100%;
	border-top:1px solid lightgrey;	
  
}

#chatbox {
	background-color: white;
  height: 95%;
	overflow-y: scroll;
 padding: 40px;

}

.Message{
	
	padding-bottom:15px;
}

.username {
	font-weight: bold;
	font-size: 12px;
}

.timestamp {
	color: darkgrey;
	font-size: 12px;
	
}

#messageForm {
	position: relative;

}

#messageForm #usermsg {
	position: absolute;
	width: 88.5%;
	border:1px solid lightgrey;
	outline:none;
}

#messageForm #submitmsg {
	position: absolute;
	right: 0;
	width: 100px;
}