.channel-section {
    position: absolute;
		width: 20%; 
	 height: 80%;
	 background-color: #4D394B;
	color:white;
}

.channel-header {
	font-family: Verdana, Helvetica, sans-serif;
}

.glyphicon-plus {
	color: white;
	font-size:25px;
}

.channel-list li {
	padding-top: 10px;
	font-size: 16px;
    font-family: Verdana, Helvetica, sans-serif;

}

.glyphicon-plus:hover {
    background-color: rgba(0,0,0,0.3);
}

.channel-list li:hover {
    background-color: rgba(0,0,0,0.3);
	  width: 100%
}

.glyphicon-remove-sign{
    color: red;
    float:right;
    margin-right:21px;
    display:none;
}

.chat-section {
	position:relative;
	left: 25%;
	width: 75%;
 	height:80%;
	background-color: white;
	 border:1px solid lightgrey;
}

.channel-display h1 {
	color: #555459;
    font-family: 'Rancho', Georgia, serif;;
    padding-left: 25px;
}

.channel-display #welcome {
	padding-left: 25px;
    font-family: Verdana, Helvetica, sans-serif;
}

.chat-wrapper {
	position:absolute;
	right: 0;
	bottom: 0;
	height: 85%;
	width: 100%;
	border-top:1px solid lightgrey;
}

#chatbox {
	background-color: white;
    height: 95%;
	overflow-y: scroll;
    padding: 40px;
    font-family: Verdana, Helvetica, sans-serif;
}



#messageForm {
	position: relative;

}

#messageForm #usermsg {
	position: absolute;
	width: 88.5%;
	border:1px solid lightgrey;
	outline:none;
}

#messageForm #submitmsg {
	position: absolute;
	right: 0;
	width: 100px;
}

.message {

    position: relative;
    margin-top: .5rem;
    padding: .25rem 2rem .1rem 3rem;
    min-height: 36px;
}

.message_profile-pic {
    position: absolute;
    left: 0;
    display: block;
    -moz-border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    border-radius: 0.2rem;
    width: 36px;
    height: 36px;
    margin-right: 40px;
    background-image: url("http://i.imgur.com/LikUNLc.png");
    background-size: cover;

}

.username, .message_username {
    font-weight: 900;
    padding-right: .75rem;
    padding-left: 1.25rem;
    color: #3d3c40 !important;
    /*margin-left: 0;*/
    font-style: normal;
    text-decoration: none;

}


.timestamp {
    text-align: left;
    display: inline;
    position: relative;
    top: 0;
    left: 0;
    color: #babbbf;
    font-size: 12px;
    line-height: 1.2rem;
    width: 36px;
    margin-right: 0;
    margin-left: 0;
}

.message-text {
    color: #8b898f;
    font-style: italic;
    display: block;
    min-height: 1rem;
    padding-left: 1.25rem;
}

/* begin day divider*/
.day_divider {
    background:#fff;
    margin:1.2rem 0;
    padding:0;
    font-size:1.3rem;
    line-height:1rem;
    font-family: Verdana, Helvetica, sans-serif;
    color:#2c2d30;
    font-weight:600;
    text-align:center;
    cursor:default;
    clear:both;
    position:relative;
}

.day_divider hr {
    position:absolute;
    border-top:1px solid #e8e8e8;
    top:.75rem;
    right:0;
    left:0;
    margin:0;
}

.day_divider .day_divider_label {
    background:#fff;
    padding:.25rem .75rem;
    display:inline-block;
    margin:0 auto;
    position:relative;
    border-radius:.25rem
}

.sticky {
    position: fixed;
    top: 0;
  }

/* end day divider*/