{% extends "base.html" %}

{% block content %}

<h1>You logged in successfully!</h1>

    <script>
            var pusher = new Pusher('b568462b35424532aa89');

            //subscribe to our notifications channel
            var messagesChannel = pusher.subscribe('messages');

            //do something with our new information
            messagesChannel.bind('new_message', function(text){
                // assign the notification's message to a <div></div>

                var message_text = text.message;
                $('div#chatbox').text(message_text);
            });


            var sendMessage = function(){


                var text = $('input#usermsg').val();

                // POST to our server
                $.post('/chat', {message: text}).success(function(){
                    console.log('Message sent!');
                });
            };

            $('input#submitmsg').on('click', sendMessage);

       </script>

<div id="wrapper">
    <div id="menu">
        <p class="welcome">Welcome, <b></b>{{ current_user['display_name']
            }}</p>

        <div style="clear:both"></div>
    </div>

    <div id="chatbox"></div>

    <form name="message" method="post">
        <input name="usermsg" type="text" id="usermsg" size="63" />
        <input name="submitmsg" type="submit"  id="submitmsg" value="Send"
               class="btn btn-primary" />
    </form>
</div>



{% endblock %}