{% extends "base.html" %}

{% block content %}

    <div class="row">

     <div class="col-md-3 channel-section">
        <h1 class="channel-header">Channel List <a href="{{url_for('create_channel')}}"><span
                class="glyphicon glyphicon-plus"
                                aria-hidden="true"></span></a></h1>
        <ul class="channel-list list-unstyled"></ul>
     </div>


      <div class="col-md-7 chat-section">
        <input type="hidden" name="current-channel" id="current-channel"
               value="General" />
        <div class="channel-display">
        	<h1>&nbsp; &nbsp; &nbsp; # <span id="channel-name"></span></h1>
        	<p id="welcome">Welcome, <b></b>{{ current_user['display_name'] }}</p>
        </div>
        
        <div class="chat-wrapper">
            <div id="chatbox"></div>

            <form id="messageForm" class="form-inline">
               <div class="form-group"> 
                	<input class="form-control" name="usermsg" type="text" id="usermsg" size="63" placeholder="Your Message"/>
                </div> 
                <button name="submitmsg"  id="submitmsg"
                       class="btn btn-primary">Send</button>
            </form>
        </div>

      </div>

    </div>


{% endblock %}