{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Entries per page
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="/?limit=10">10</a></li>
    <li><a href="/?limit=15">15</a></li>
    <li><a href="/?limit=20">20</a></li>
  </ul>
</div>

{% for entry in entries %}
{{ macros.render_entry(entry) }}
{% endfor %}

<ul class="pager">
    {% if has_next %}
      <li class="previous" >
        <a href="{{ url_for('entries', page=page + 1, limit=paginate_by) }}">&larr; Older</a>
      </li>
    {% endif %}
    {% if has_prev %}
      <li class="next">
      <a href="{{ url_for('entries', page=page - 1, limit=paginate_by) }}">&rarr; Newer</a>
      </li>
    {% endif %}
</ul>

{% endblock %}
