{% macro render_entry(entry) %}
<div class="row">
    <div class="col-md-2 text-right metadata">
        <ul class="list-unstyled">
            <li>
                {{ entry.datetime | dateformat("%d/%m/%y") }}
            </li>
            <li>
               <a href="{{url_for('edit_entry_get', id=entry.id)}}">Edit</a>
            </li>
            <li>
               <a href="{{url_for('delete_entry_get', id=entry.id)}}">Delete</a>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <h1>
          <a href="{{url_for('view_post', id=entry.id)}}">
            {{ entry.title }}
          </a>
        </h1>
        {% if entry.author.name %}
          by: {{ entry.author.name }}
        {% else %}
          by: Anonymous
        {% endif %}
        {{ entry.content | markdown }}
    </div>
</div>
{% endmacro %}


<!-- macro to render a single post -->
{% macro render_single_post(entry) %}
<div class="col-md-10">
    <h1>
        <a href="{{url_for('view_post', id=entry.id)}}">{{entry.title}}</a>
    </h1>
    {{entry.content|safe}}
</div>
{% endmacro %}
